body{
    margin: 0;
}

.head{
    position: sticky;
    top: 0;
    background-color: rgb(0, 0, 0);
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.555);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(0, 0, 0, 0.12);
}

.youtube-container{
    display: flex;
    align-items: center;
    gap: 4px;
}

.youtube-logo{
    font-size: 40px;
    color: rgb(255, 0, 0);
}

.youtube-text {
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-weight: bold;
}

.youtube-bar{
    display: flex;
    align-items: center;
    gap: 4px;
}

.search-bar{
    border-radius: 8px;
}

.search-button{
    border-radius: 8px;
}

.perfil-usuario{
    height: 40px;
    border-radius: 100px;
}

.dropbtn{
    height: 40px;
    border-radius: 100px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #ffffff;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  right: 40px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.main{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    padding-left: 10px;
    gap: 20px;
}

.video-box{
    width: 420px;
}

.img-video{
    width: 420px;
    border-radius: 10px;
}

.video-title{
    font-size: 22px;
    font-weight: 600;
    margin: 2px;
    margin-left: 0;
}

.video-user{
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 40px;
}

.user{
    display: flex;
    flex-direction: row;
    width: 79.5%;
    gap: 10px;
}

.user-description{
    display: flex;
    flex-direction: column;
}

.user-name{
    font-size: 14px;
    margin: 0;
    color: rgb(172, 172, 178);
}

.user-subs{
    font-size: 12px;
    margin: 0;
    color: rgb(172, 172, 178);
}

.check{
    font-size: 10px;
}

.subscribe{
    border-radius: 30px;
    background: black;
    border: solid black 1px;
    color: white;
}

.overlay{
    position: fixed;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
    z-index: 20;
    inset: 0;
}

.overlay.aberto{
    opacity: 1;
    pointer-events: auto;
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    transform: translateX(-100%);
    transition: transform 0.25s ease;
    z-index: 30;
    background: #fff;
}

.menu-buttons{
    display: flex;
    flex-direction: column;
}

.menu.aberto{
    transform: translateX(0);
}

.menu-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #e0e0e0; /* Cor de fundo cinza parecida com o botão padrão */
  color: #000000;             /* Cor do texto preta */
  text-decoration: none;      /* Remove o sublinhado do link */
  border: 1px solid #767676;  /* Borda similar à do botão */
  border-radius: 2px;
  cursor: pointer;
  margin-bottom: 2px;
}

/* Efeito ao passar o mouse por cima */
.menu-btn:hover {
  background-color: #d0d0d0;
}

.btn-close{
    width: 50px;
    height: 30px;
}

/*Classes do Shorts*/
.main-shorts{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px);
    margin-right: 300px;
}

.video-box-shorts{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 20px;
}

.img-video-shorts{
    height: 680px;
    object-fit: cover;
    border-radius: 12px;
}

.video-description{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.user-name-shorts{
    font-weight: bold;
    margin: 0;
}

.user-subs-shorts{
    font-size: 0.85rem;
    color: #606060;
    margin: 0;
}

.shorts-buttons{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 5px;
}

.shorts-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #e0e0e0; /* Cor de fundo cinza parecida com o botão padrão */
    color: #000000;             /* Cor do texto preta */
    text-decoration: none;      /* Remove o sublinhado do link */
    border: 1px solid #767676;  /* Borda similar à do botão */
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 2px;
}

/*Classes do Inscrição*/

/*Classes do Histórico*/

/*Classes do Conta*/
.main-conta{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfil-conta{
    height: 60px;
    width: 60px;
    border-radius: 100px;
}

/*Classes do Configurações*/

/*Classe do sair*/
.leave{
    background-color: black;
}